<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Continue Shopping', root_path, class: 'button is-info' %>
</div>
<hr />
<section class="section">
  <%= render(@cart.line_items) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <span class="f5 has-text-grey">Total:</span> <%= number_to_human(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>



<%# unless carts.line_items.empty? %>

<%
=begin%>
 <table>
	<%= render(cart.line_items) %>
	<tr>
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_indian_currency(cart.total_price)  %></td>
	</tr>
</table> 
<%
=end%>
<%# session[:amount] = cart.total_price %>


<%# end %>




<div class="columns is-vcentered">
  <div class="column is-8">
   
  </div>
  <div class="column is-primary">
   	<% if user_signed_in? %>
     
<%= link_to "PLACE ORDER" ,:controller=>"cars",:action=>"checkout", class: 'button is-danger'%>
	<% else %>
	<%= link_to "PLACE ORDER", new_user_session_path %>
	<% end %>

  </div>
</div>
